<div class="row question-summary">
    <div class="col-12 col-md-8">
        <a href="/questions/{{id}}">{{title}}</a>
    </div>
    <div class="question-asked col-12 col-md-4">
        asked {{created_at}}
    </div>
    <div class="question-delete col-12">
        {{delete_link user_id "/questions/" id}}
    </div>
</div>
